<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AnonimChat</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/allgroup/1" Match="NavLinkMatch.All">
                <span class="bi bi-chat-nav-menu" aria-hidden="true"></span> Chats
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-folder-fill-nav-menu" aria-hidden="true"></span> Folder
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Acount
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>

